@charset "UTF-8";


.reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.fa {
  font-size: 1.5em;
  color: red;
}


.title {
  font-size: 2em;
}

.textContainer {
    height: 80px;
    line-height: 120px;
    letter-spacing: 1em;
}

.textContainer ~ a {
    display: inline-block;
}

.page-header {
  min-height: 80px;
  margin-bottom: 0;
}

.page-header > .container {
  min-height: 80px;
}

img {
  height: 80px;
}

.navbar {
  margin-top: 0;
}
