@charset "UTF-8";


.reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.fa {
  font-size: 1.5em;
  color: #000;
}

.fa:hover {
  color: #d72638;

}


.title {
  font-size: 2em;
}

.textContainer {
    height: 80px;
    line-height: 120px;
    letter-spacing: 1em;
}

.textContainer ~ a {
    display: inline-block;
}

.page-header {
  min-height: 80px;
  margin-bottom: 0;
}

.page-header > .container {
  min-height: 80px;
}

.glyphicon {
  font-size: 40px;
}

 textarea.textarea {
  width: 100%;
  height: auto;
}

img {
  height: 80px;
}
/*Estilo de los tabs del navbar*/
.nav > li > a.border {
  color: black;
  border: none;
  border-radius: 0;
}

li.active a.border {
  background-color: white;
  opacity: 0.5;
  color: black;
  border: none !important;
  border-bottom: 2px solid #000 !important;
}

li.active a.border:visited {
  color: black;
  border: none;
  border-bottom: 2px solid #dd2d4a;
  opacity: 0.5;
  border-radius: 0;
}

li.active.border a:hover {
  opacity: 0.5;
  color: black;
  border-radius: 0;
  background-color: white;
  border-bottom: 2px solid #dd2d4a;
}

.nav > li > a:hover {
  background-color: white;
  border-bottom: 2px solid #dd2d4a;
  border-radius: 0;
}
/*Fin de estilos de los tabs del nav*/

.same-as-row {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  margin: 0;
}

.navbar-default {
  background-color: #FFF;
  border: none;
}

.nav-tabs {
  border: none;
}

button.navbar-toggle {
  border: none;
}

img {
  padding: 5px;
}




    .navbar-toggle.collapsed:hover {
      background-color: white;
      border-bottom: 1px solid #dd2d4a;
      border-radius: 0;

    }

    .usericon input {
    padding-left:25px;
}
.usericon:before {
    height: 100%;
    width: 25px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    content: "\e008";
    font-family: 'Glyphicons Halflings';
    pointer-events: none;
}

    @media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .blog-article {
      border: 1px solid black;
      padding: 5px;
      margin: 5px;
    }
}

@media screen and (max-width: 568px) {
    h1.reset {
        font-size:1.5em;
    }

    .blog-article {
      border-bottom: 1px solid black;
      padding: 5px;
      margin: 5px;
    }

    .no-bottom {
      border-bottom: none;
    }



}
