@charset "UTF-8";


.reset {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Estilos de los iconos e imagenes*/
.fa {
  font-size: 1.5em;
  color: #000;
}

.fa:hover {
  color: #d72638;
}

.glyphicon {
  font-size: 40px;
}

img {
  height: 80px;
  padding-left: 5px;
}
/*Fin de estilos de los iconos e imagenes*/


/*Clases miscelaneas*/
.expanded {
  width: 100%;
}

.title {
  font-size: 2em;
}

/*Fin de clases miscelanas*/


/*Estilos de los iconos de las redes*/
.textContainer {
  height: 80px;
  line-height: 120px;
  letter-spacing: 1em;
}

.textContainer ~ a {
  display: inline-block;
}
/*Fin de estilos de los iconos de las redes*/

/*Estas clases estilizan el header*/
.page-header {
  min-height: 80px;
  margin-bottom: 0;
}

.page-header > .container {
  min-height: 80px;
}
/*Fin de estilos de clases del header*/

/*Estilo del navbar y sus tabs*/
.nav > li > a.border {
  color: black;
  border: none;
  border-radius: 0;
}

li.active a.border {
  background-color: white;
  opacity: 0.5;
  color: black;
  border: none !important;
  border-bottom: 2px solid #000 !important;
}

li.active a.border:visited {
  color: black;
  border: none;
  border-bottom: 2px solid #dd2d4a;
  opacity: 0.5;
  border-radius: 0;
}

li.active.border a:hover {
  opacity: 0.5;
  color: black;
  border-radius: 0;
  background-color: white;
  border-bottom: 2px solid #dd2d4a;
}

.nav > li > a:hover {
  background-color: white;
  border-bottom: 2px solid #dd2d4a;
  border-radius: 0;
}

.navbar-default {
  background-color: #FFF;
  border: none;
}

.nav-tabs {
  border: none;
}

.navbar-toggle.collapsed:hover {
  background-color: white;
  border-bottom: 1px solid #dd2d4a;
  border-radius: 0;
}

button.navbar-toggle {
  border: none;
}
/*Fin de estilos del navbar y sus tabs*/

/*Estilos de las filas*/
.same-as-row {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row {
  margin: 0;
}
/*Fin de estilos de las filas*/

@media only screen and (min-width : 768px) {
  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }

/*Clase para los articulos del blog*/
  .blog-article {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  }
}

@media screen and (max-width: 568px) {
  h1.reset {
    font-size:1.5em;
  }

  .blog-article {
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 5px;
  }

  .no-bottom {
    border-bottom: none;
  }
}
