@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  background-image: url("../img/mar.jpg");
  background-size: cover;
}

.height {
  min-height: 200px;
  line-height: 50px;
}

.jet {
  background-color: #DB3A34;
  color: white;
}

.midnight-green {
  background-color: #323031;
  color: white;
}

.metallic-seaweed {
  background-color: #084C61;
  color: white;
}

.cg-red {
  background-color: #177E89;
  color: white;
}

.img-resizer {
  width: 80%;
  margin: 5%;
}

.img-profile {
  width: 60%;
  margin: auto 20%;
  margin-top: 5%;
}

.article {
  border: 1px solid black;
  width: 100%;
}

.contact-form {
  width: 100%;
}

.img-article {
  width: 100%;
}

.social-icons {
  font-size: 4em;
  text-align: center;
}

.social-icons:hover {
  color: #FFF;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.link {
  margin-top: 5%;
}

.slogan {
  text-align: right;
}

.img-logo {
  width: 5%;
  position: absolute;
  top: 0;
  left: 7%;
}

@media (max-width: 1024px) {
  .img-resizer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 0;
  }

  .img-article {
    margin-top: 5%;
  }

  .slogan {
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
  .link {
    width: 100%;
  }

  .img-profile {
    width: 30%;
    margin: auto 35%;
    margin-top: 5%;
  }

  .article {
    font-size: 1.5em;
  }

  .card {
    font-size: 1.5em;
  }

}

@media (min-width: 1024px) and (max-width: 1200px){
  .img-logo {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 1%;
  }
  .slogan {
    font-size: 1.5em;
  }
}
