@charset "UTF-8";

body {
  box-sizing: border-box;
  background-image: url("../img/foodBackground.jpg");
  z-index: 0;
  color: black;
  width: 100%;
}

/* Estilos para las fotos */
.img {
  width: 100%;
  margin: 10px;
  border: 1px solid #240115;
}

img {
  border-radius: 5px;
}

.img:hover {
  box-shadow: 0 2px #FF0054;
}
/*Fin de estilos para las fotos*/

/* Clases miscelaneas */
.bg-color {
  background-color: #FDFFFC;
  box-shadow: 1px 1px #FF0054;
}

.bg-articles {
  background-color: #41EAD4;
}

.margin {
  margin: 1%;
}

.padding {
  padding: 10px;
}

.b-right {
  border-right: 2px solid #FF0054;
}

.no-border {
  border: none;
}

.b-bottom {
  border-bottom: 2px solid #FF0054;
}

.visited {
  text-decoration: underline;
  color: grey;
}
/* Fin de clases miscelaneas */

/*Estilos del header*/
header {
  padding: 10px;
  margin: 5px;
}
/*Fin de estilos del header*/

/* Estilos de los articulos */
.article {
  padding: 20px;
  margin: 20px;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 100%;
  margin: 5px;
}

.img-article {
  width: 80%;
  margin-left: 10%;
}

.text-article {
  padding: 5px;
  margin: 5px;
}
/* Fin de estilos de los articulos */
